

.one{
    color: bisque;
    font-size: 30px;
    text-shadow:6px 6px 4px crimson;
    text-align: right;
    margin: 2%;
    padding: 8%;
    background-color: coral;
    background-position: left;
    background-size: 450px;
    background-image: url('./image/model.jpeg');
    background-repeat: no-repeat;
    box-shadow: 10px 10px 5px gray;
    
}

.grid-container {
    margin: 12%;
    margin-top: 5%;
    height: 300px;
    display: grid;
    align-content: center;
    grid-template-columns: auto auto auto;
    gap: 20px;
    background-color: coral;
    padding: 20px;
    box-shadow: 10px 10px 5px gray;
  }
  
   #one{
    height: 100px;
    color: aliceblue;
    background-color: rgb(211, 98, 98);
    background-image: url('/styles/image/lipstick.jpg');
    background-size: 200px;
    background-repeat: no-repeat;
    background-position: right;
    text-align: left;
    text-shadow: 6px 6px 4px crimson;;
    padding: 20px 0;
    font-size: 30px;
    box-shadow:10px 10px 5px crimson; 
  }
   #two{
    color: aliceblue;
    background-color: rgb(231, 160, 72);
    background-image: url('/styles/image/compact.jpeg');
    background-size: 200px;
    background-repeat: no-repeat;
    background-position: right;
    text-align: left;
    text-shadow: 6px 6px 4px crimson;;
    padding: 20px 0;
    font-size: 30px;
    box-shadow:10px 10px 5px crimson;
  }
   #three{
    color: aliceblue;
    background-color: rgb(56, 50, 50);
    background-image: url('/styles/image/kajal.jpg');
    background-size: 200px;
    background-repeat: no-repeat;
    background-position: right;
    text-align: left;
    text-shadow: 6px 6px 4px crimson;;
    padding: 20px 0;
    font-size: 30px;
    box-shadow:10px 10px 5px crimson;
  }
   #four{
    height: 100px;
    color: aliceblue;
    background-color: rgb(137, 92, 173);
    background-image: url('/styles/image/eyeshadow.jpeg');
    background-size: 220px;
    background-repeat: no-repeat;
    background-position: right;
    text-align: left;
    text-shadow: 6px 6px 4px crimson;;
    padding: 20px 0;
    font-size: 30px;
    box-shadow:10px 10px 5px crimson;
  }
  #five {
    color: aliceblue;
    background-color: palevioletred;
    background-image: url('/styles/image/blush.jpeg');
    background-size: 200px;
    background-repeat: no-repeat;
    background-position: right;
    text-align: left;
    text-shadow: 6px 6px 4px crimson;;
    padding: 20px 0;
    font-size: 30px;
    box-shadow:10px 10px 5px crimson;
  }
   #six{
    color: aliceblue;
    background-color: rgb(252, 113, 32);
    background-image: url('/styles/image/highligter.jpg');
    background-size: 200px;
    background-repeat: no-repeat;
    background-position: right;
    text-align: left;
    text-shadow: 6px 6px 4px crimson;;
    padding: 20px 0;
    font-size: 30px;
    box-shadow:10px 10px 5px crimson;
  }
  div.footer{
    background-color: crimson ;
    box-shadow: 10px 10px 10px gray;
    color: aliceblue;
    text-shadow: 6px 6px 4px black;
  }
  div.gallery {
    background-color: coral;
    box-shadow: 10px 10px 10px crimson;
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
    color: aliceblue;
    text-shadow: 6px 6px 4px crimson;
  }



